<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title></title>
    <script src="{{ url_for('static', 'raphael-min.js')}}"></script>
    <script src="{{ url_for('static', 'jquery.min.js') }}"></script>
    
</head>
<body>
<svg id="year_chart" width="700" height="200"> </svg>
<a href="javascript:sendVandalism();"> Send it! </a>
 
<script>
function addWeek(paper, x, dates){
    dates = dates.slice(0,7);
    for(var d in dates){
        var day = paper.rect(x, d * 12, 10, 10);
        day.attr("class", "day");
        day.attr("fill", "#ddd");
        day.attr("stroke", "#fff");
        day.attr('title', dates[d].toString());
    }
}

function getYear(startDate) {
    var endDate = new Date(startDate);
    var currentDate = new Date(endDate);
    endDate.setFullYear(endDate.getFullYear() + 1);
    var year = [startDate];
    while(currentDate < endDate){
        currentDate.setDate(currentDate.getDate() + 1);
        year.push(new Date(currentDate));
    }
    return year;
}

function serializeYear(){
    var year = $("#year_chart rect");
    return year.map(function(){
        return $(this).attr("data-selected") == "true" ? 1 : 0;
    });
}


$(function(){
    // Creates canvas 320 × 200 at 10, 50
    var paper = Raphael("year_chart");
    var start = new Date(2012, 0, 22);
    var year = getYear(start);
    for(var i = 0; i < year.length/7; i++){
        var week = year.slice(i * 7, i * 7 + 7);
        addWeek(paper, i * 12, week);
    }
    $("svg").on("click","rect", function(e){
        e.stopPropagation();
        var day = $(this);
        if(day.length == 1){
            if(day.attr("data-selected") == "true"){
                day.attr("data-selected", "false");
                day.css("fill","#ddd");
            }
            else{
                day.attr("data-selected", "true");
                day.css("fill","#0e0");
            }
        }
    });
});

</script>
</body>
</html>
